/* signup.component.css */

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
  }
  
  .signup-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type=text] {
    border: none;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(152, 149, 149);
  }
  
  .create-button {
    width: 100%;
    padding: 10px;
    background-color: #ff9d00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .redirect-button {
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    color: black;
    background-color: transparent; 
    border: 2px solid rgb(152, 150, 150);
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #c17007;
  }
  
  img {
    width: 1000px;
    height: 750px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-left: 50px;
    margin-right: -100px;
  }